.board-main {
    margin: 32px;
    width: 100%;
}

.search-container-board {
    display:flex;
    flex-direction: row;
    margin-bottom:24px;
}

.input-container-board {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(204, 207, 211);
    border-radius: 8px;
    margin-right: 32px;
    height: 32px;
    padding: 0 8px;
}

.input-container-board:hover {
    cursor: pointer;
    border-color: rgb(69, 137, 255);
}

.input-container-board img {
    height: 24px;
}

.input-container-board img:hover {
    background-color: rgb(210, 227, 255);
    border-radius: 8px;
}

.input-board {
    border: none;
}

.button-board {
    background-color: rgb(69, 137, 255);
    border: none;
    border-radius: 8px;
    color: white;
}

.button-board:hover {
    cursor: pointer;
    background-color: rgb(26, 94, 212);
    box-shadow: #b9a9a9 1px 1px;
}

.tasks {
    width: 15vw;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 20px;
}

.tasks img {
    height: 16px;
}

.tasks img:hover {
    cursor: pointer;
}

.task-container {
    display:flex;
    justify-content: space-around;
    width: 90%;
}

.task-headlines {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
}

.board-content {
    background-color: lightgray;
    border-radius: 8px;
    height: 32px;
    border: 2px dotted #b9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #b9a9a9;
}

.margin-none {
    margin-right: 0 !important;
}

/* Hamburgermenu */

.hamburger-menu-add-task-close-btn {
    display: flex !important;
    position: relative !important;
    width: 100% !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
    bottom: 0 !important;
    right: 0 !important;
    flex: 1;
    padding-bottom: 0px !important;
}

.headline-add-task-sb {
    margin: 16px 0;
}

.hamburger-menu {
    display: none;
}

.add-task-sb-close-icon:hover {
    cursor: pointer;
    border-radius: 4px;
}

.overlay-add-task-board {
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.hide-scrollbar {
    overflow-y: auto !important;
}

.selected-contacts-sb {
    display:flex;
    flex-direction: row;
    margin-top: 8px;
}

.contact-initials-sb {
    height: 48px;
    width: 48px;
    background-color: #4589FF;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.prio1-color {
    background-color: red !important;
    color: white;
    border-bottom-color: black !important;
}

.prio2-color {
    background-color: #ffcc00 !important;
    color: white;
    border-bottom-color: black !important;
}

.prio3-color {
    background-color: green !important;
    color: white;
    border-bottom-color: black !important;
}

.to-do-content {
    width:100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}

.task-user-prioIcon {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-to-do {
    height: 24px;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title-task {
    color: #4589FF;
    margin-top: 20px;
    margin-bottom: 8px;
}

.description-task {
    margin: 8px 0;
    color: lightgrey;
}

.task-prio-icon {
    width: 12px !important;
    height: 8px !important;
    margin: 8px;
}

.contacts-task-container {
    display:flex;
    flex-direction: row;
}

.task-initials {
    margin-right: 4px;
    background-color:rgb(69, 137, 255);
    border-radius: 50%;
    padding: 4px;
    font-size: 10px;
}

.overlay-show-task {
    z-index: 1500;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.current-task {
    background-color: white;
    border-radius: 16px;
    height: 80%;
    width: 40%;
}

.current-task-initials {
    border-radius: 50%;
    width: 24px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 8px;
}

.current-to-do-content {
    margin: 24px;
}

.current-category-to-do {
    width: 45%;
    background-color:#0038ff;
    text-align: center;
    color: white;
    border-radius:4px;
    padding: 4px;
}

.current-title-task {
    font-size: 32px;
    margin: 16px 0;
}

.current-task-priority {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* loading-bar */
.subtask-progress-container {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0; /* Hintergrund des Containers */
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
    margin-bottom: 8px;
}

.subtask-progress-bar {
    height: 100%;
    width: 0%; /* Startbreite des Fortschrittsbalkens */
    background-color: #4589FF; /* Farbe des Ladebalkens */
    transition: width 0.3s ease; /* Glatte Animation beim Aktualisieren */
}