.board-main {
    margin: 32px;
    width: 100%;
}

.search-container-board {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.input-container-board {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(204, 207, 211);
    border-radius: 8px;
    margin-right: 32px;
    height: 32px;
    padding: 0 8px;
}

.input-container-board:hover {
    cursor: pointer;
    border-color: rgb(69, 137, 255);
}

.input-container-board img {
    height: 24px;
}

.input-container-board img:hover {
    background-color: rgb(210, 227, 255);
    border-radius: 8px;
}

.input-board {
    border: none;
}

.button-board {
    background-color: rgb(69, 137, 255);
    border: none;
    border-radius: 8px;
    color: white;
}

.button-board:hover {
    cursor: pointer;
    background-color: rgb(26, 94, 212);
    box-shadow: #b9a9a9 1px 1px;
    transition: 0.3s;
    transform: translateY(2px);
}

.tasks {
    width: 15vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 20px;
}

.tasks img {
    height: 16px;
}

.tasks img:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2px);
}

.task-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.task-headlines {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
}

.board-content {
    background-color: lightgray;
    border-radius: 8px;
    height: 32px;
    border: 2px dotted #b9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #b9a9a9;
}

.margin-none {
    margin-right: 0 !important;
}

/* Hamburgermenu */

.hamburger-menu-add-task-close-btn {
    display: flex !important;
    position: relative !important;
    width: 100% !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
    bottom: 0 !important;
    right: 0 !important;
    flex: 1;
    padding-bottom: 0px !important;
}

.headline-add-task-sb {
    margin: 16px 0;
}

.hamburger-menu {
    display: none;
}

.add-task-sb-close-icon:hover {
    cursor: pointer;
    border-radius: 4px;
}

.overlay-add-task-board {
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.hide-scrollbar {
    overflow-y: auto !important;
}

.selected-contacts-sb {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.contact-initials-sb {
    height: 48px;
    width: 48px;
    background-color: #4589FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.contact-initials-sb-edit {
    height: 48px;
    width: 48px;
    background-color: #4589FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.prio1-color {
    background-color: red !important;
    color: white;
    border-bottom-color: black !important;
}

.prio2-color {
    background-color: #ffcc00 !important;
    color: white;
    border-bottom-color: black !important;
}

.prio3-color {
    background-color: green !important;
    color: white;
    border-bottom-color: black !important;
}

.to-do-content {
    width: 100%;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}

.to-do-content:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2px);
    box-shadow: 1px 1px rgb(150, 150, 150);
}

.task-user-prioIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-to-do {
    height: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-task {
    color: #4589FF;
    margin-top: 20px;
    margin-bottom: 8px;
}

.description-task {
    margin: 8px 0;
    color: lightgrey;
}

.task-prio-icon {
    width: 12px !important;
    height: 8px !important;
    margin: 8px;
}

.contacts-task-container {
    display: flex;
    flex-direction: row;
}

.task-initials {
    margin-right: 4px;
    border-radius: 50%;
    padding: 4px;
    font-size: 10px;
    width: 16px;
    text-align: center;
}

.overlay-show-task {
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-task {
    background-color: white;
    border-radius: 16px;
    height: 80%;
    width: 40%;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px; /* Breite des vertikalen Scrollbalkens */
    height: 12px; /* Höhe des horizontalen Scrollbalkens */
  }

.current-task-initials {
    border-radius: 50%;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 8px;
}

.current-to-do-content {
    position: relative;
    margin: 24px;
    height: 100%;
}

.current-category-to-do {
    width: 45%;
    background-color: #0038ff;
    text-align: center;
    color: white;
    border-radius: 4px;
    padding: 4px;
}

.current-title-task {
    font-size: 32px;
    margin: 16px 0;
}

.current-task-priority {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.current-task-close-btn {
    filter: invert(52%) sepia(47%) saturate(4550%) hue-rotate(202deg) brightness(100%) contrast(104%);
}

.current-task-close-btn:hover {
    cursor: pointer;
    transform: translateY(2px);
    transition: 0.3s;
}

.current-task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-subtasks-task {
    display: flex;
    align-items: center;
    margin: 8px;
}

.current-subtasks-task input:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2px);
}

.delete-and-edit-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 24px;
    position: absolute;
    bottom: 32px;
    right: 8px;
}

.delete-and-edit-task img {
    width: 12px;
    margin-right: 8px;
}

.delete-and-edit-task div {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 64px;
    padding: 0 8px;
    margin: 2px;
}

.delete-and-edit-task div:hover {
    cursor: pointer;
    border-radius: 16px;
    color: #0038ff;
    text-shadow: 1px 1px #0038ff;
    transition: 0.3s;
    transform: translateY(2px);
}

.drag-and-drop-div-height {
    height: 100%;
}

.subtask-loadingbar-text {
    font-size: 10px !important;
}

.task-subtask-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-subtask-amount {
    display: flex;
    flex-direction: row;
}

/* loading-bar */
.subtask-progress-container {
    width: 45%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
    margin-bottom: 8px;
}

.subtask-progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4589FF;
    transition: width 0.3s ease;
}

/* searchfield */
.search-container-board {
    position: relative;
    display: flex;

}

.input-container-board {
    display: flex;
    align-items: center;
}

#suggestions {
    position: absolute;
    top: 165px;
    width: 400px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 10000;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 8px;
    display: none;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.suggestion-item:hover {
    background-color: #4589FF;
    color: white;
}

.highlighted-task {
    background-color: #ffffcc;
}

/* editTask */
.editTaskContainer {
    display: flex;
    flex-direction: column;
}

.titleEdit {
    margin-bottom: 16px;
    width: 100% !important;
}

.titleEdit input {
    cursor: pointer;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid lightgrey;
    border-top: 0;
    width: 100%;
}

.titleEdit input:hover{
    border-bottom: 1px solid rgba(27, 76, 168, 0.258) !important;
}

.description-edit textarea {
    margin-bottom: 16px;
    width: 100%;
}

.due-date-edit {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.due-date-edit input {
    cursor: pointer;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid lightgrey;
    border-top: 0;
}

.category-edit {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.assigned-to-edit {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.subtask-edit {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.subtask-edit input {
    cursor: pointer;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid lightgrey;
    border-top: 0;
}

.m-b-8px {
    margin-bottom: 8px;
}

.m-b-16px {
    margin-bottom: 16px;
}

.prio-buttons-edit {
    margin: 4px;
    height: 24px;
    width: 100%;
    border: 1px solid rgb(194, 194, 194) !important;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-subtask-btn-sb-edit {
    position: absolute;
    bottom: 9px;
    right: 1px;
    height: 8px;
}

#subtask-edit-list {
    position:relative;
}
/* 
#subtask-edit-list li{
    display:list-item;
    display:flex;
    align-items: center;
} */

#subtask-edit-list li img{
    position: absolute;
    right: 0;
}

#subtask-edit-list li img:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2px);
}