body {
    overflow: hidden;
}

.board-main {
    margin: 32px;
    /* width: calc(100% - 64px); */
}

.search-container-board {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.input-container-board {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(204, 207, 211);
    border-radius: 8px;
    margin-right: 32px;
    height: 32px;
    padding: 0 8px;
}

.input-container-board:hover {
    cursor: pointer;
    border-color: rgb(69, 137, 255);
}

.input-container-board img {
    height: 24px;
}

.input-container-board img:hover {
    background-color: rgb(210, 227, 255);
    border-radius: 8px;
}

.input-board {
    border: none;
}

.button-board {
    background-color: rgb(69, 137, 255);
    border: none;
    border-radius: 8px;
    color: white;
}

.button-board:hover {
    cursor: pointer;
    background-color: rgb(26, 94, 212);
    box-shadow: #b9a9a9 1px 1px;
    transition: 0.3s;
    transform: translateY(2px);
}

.tasks {
    width: 175px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* margin-right: 20px; */
}

.tasks img {
    height: 16px;
}

.tasks img:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2px);
}

.task-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-headlines {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
}

.board-content {
    background-color: lightgray;
    border-radius: 8px;
    height: 32px;
    border: 2px dotted #b9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #b9a9a9;
}

.margin-none {
    margin-right: 0 !important;
}

/* Hamburgermenu */

.hamburger-menu-add-task-close-btn {
    display: flex !important;
    position: absolute !important;
    width: 100% !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
    bottom: 12px !important;
    right: 0 !important;
    flex: 1;
    padding-bottom: 0px !important;
}

.headline-add-task-sb {
    margin: 16px 0;
}

.hamburger-menu {
    display: none;
}

.add-task-sb-close-icon:hover {
    cursor: pointer;
    border-radius: 4px;
}

.overlay-add-task-board {
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.hide-scrollbar {
    overflow-y: auto !important;
}

.selected-contacts-sb {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.contact-initials-sb {
    height: 48px;
    width: 48px;
    background-color: #4589FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.contact-initials-sb-edit {
    height: 48px;
    width: 48px;
    background-color: #4589FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.prio1-color {
    background-color: red !important;
    color: white;
    border-bottom-color: black !important;
}

.prio2-color {
    background-color: #ffcc00 !important;
    color: white;
    border-bottom-color: black !important;
}

.prio3-color {
    background-color: green !important;
    color: white;
    border-bottom-color: black !important;
}

.to-do-content {
    width: 100%;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 8px;
    margin-bottom: 8px;
}

.to-do-content:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2px);
    box-shadow: 1px 1px rgb(150, 150, 150);
}

.task-user-prioIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-to-do {
    height: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-task {
    font-size: 12px;
    color: #4589FF;
    margin-top: 20px;
    margin-bottom: 8px;
}

.description-task {
    margin: 8px 0;
    color: lightgrey;
    font-size: 10px;
}

.task-prio-icon {
    width: 12px !important;
    height: 8px !important;
    margin: 8px;
}

.contacts-task-container {
    display: flex;
    flex-direction: row;
}

.task-initials {
    margin-right: 4px;
    border-radius: 50%;
    padding: 4px;
    font-size: 10px;
    width: 16px;
    text-align: center;
}

.overlay-show-task {
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-task {
    background-color: white;
    border-radius: 16px;
    height: 80%;
    width: 40%;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.current-task-initials {
    border-radius: 50%;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 8px;
}

.current-to-do-content {
    position: relative;
    margin: 24px;
    height: 100%;
}

.current-category-to-do {
    width: 45%;
    background-color: #0038ff;
    text-align: center;
    color: white;
    border-radius: 4px;
    padding: 4px;
}

.current-title-task {
    font-size: 32px;
    margin: 16px 0;
}

.current-task-priority {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.current-task-close-btn {
    filter: invert(52%) sepia(47%) saturate(4550%) hue-rotate(202deg) brightness(100%) contrast(104%);
}

.current-task-close-btn:hover {
    cursor: pointer;
    transform: translateY(2px);
    transition: 0.3s;
}

.current-task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-subtasks-task {
    display: flex;
    align-items: center;
    margin: 8px;
}

.current-subtasks-task input:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2px);
}

.delete-and-edit-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 24px;
    position: absolute;
    bottom: 32px;
    right: 8px;
}

.delete-and-edit-task img {
    width: 12px;
    margin-right: 8px;
}

.delete-and-edit-task div {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    padding: 0 8px;
    margin: 2px;
}

.delete-and-edit-task div:hover {
    cursor: pointer;
    border-radius: 16px;
    color: #0038ff;
    text-shadow: 1px 1px #0038ff;
    transition: 0.3s;
    transform: translateY(2px);
}

.drag-and-drop-div-height {
    height: 100%;
}

.subtask-loadingbar-text {
    font-size: 10px !important;
}

.task-subtask-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-subtask-amount {
    display: flex;
    flex-direction: row;
}

/* loading-bar */
.subtask-progress-container {
    width: 45%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
    margin-bottom: 8px;
}

.subtask-progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4589FF;
    transition: width 0.3s ease;
}

/* searchfield */
.search-container-board {
    position: relative;
    display: flex;
}

.input-container-board {
    display: flex;
    align-items: center;
}

#suggestions {
    position: absolute;
    top: 165px;
    width: 400px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 10000;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 8px;
    display: none;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.suggestion-item:hover {
    background-color: #4589FF;
    color: white;
}

.highlighted-task {
    background-color: #ffffcc;
}

.margin-8px {
    margin: 8px !important;
}

/* editTask */
.editTaskContainer {
    display: flex;
    flex-direction: column;
}

.titleEdit {
    margin-bottom: 16px;
    width: 100% !important;
}

.titleEdit input {
    cursor: pointer;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid lightgrey;
    border-top: 0;
    width: 100%;
}

.titleEdit input:hover {
    border-bottom: 1px solid rgba(27, 76, 168, 0.258) !important;
}

.description-edit textarea {
    margin-bottom: 16px;
    width: 100%;
}

.due-date-edit {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.due-date-edit input {
    cursor: pointer;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid lightgrey;
    border-top: 0;
}

.category-edit {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.assigned-to-edit {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.subtask-edit {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.subtask-edit input {
    cursor: pointer;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid lightgrey;
    border-top: 0;
}

.m-b-8px {
    margin-bottom: 8px;
}

.m-b-16px {
    margin-bottom: 16px;
}

.prio-buttons-edit {
    margin: 4px;
    height: 24px;
    width: 100%;
    border: 1px solid rgb(194, 194, 194) !important;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-subtask-btn-sb-edit {
    position: absolute;
    bottom: 9px;
    right: 1px;
    height: 8px;
}

#subtask-edit-list {
    position: relative;
}

#subtask-edit-list li img {
    position: absolute;
    right: 0;
}

#subtask-edit-list li img:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2px);
}

.saveEditBtn {
    background-color: #4589FF;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    position: absolute;
    bottom: 50px;
    right: 16px;
}

.saveEditBtn:hover {
    box-shadow: rgb(94, 91, 91) 1px 1px;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(2px);
    background-color: #0038ff;
}

.prio2-icon-color {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(317deg) brightness(108%) contrast(101%);
}

.add-task-sb-board {
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    max-width: 400px !important;
    padding: 20px;
    height: 95% !important;
}

.overlay-add-task-board {
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
}

.board-create-task {
    position: absolute;
    bottom: 0 !important;
}

@media(max-width: 800px) {
    .category-to-do {
        font-size: 12px;
    }

    .headlines-tasks {
        font-size: 16px !important;
    }

    .title-task {
        font-size: 12px;
    }

    .description-task {
        font-size: 10px;
    }

    .task-container {
        flex-direction: column;
        height: calc(100vh - 264px);
        overflow-y: scroll;
    }

    .drag-and-drop-div-height {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll !important;
    }

    .to-do-content {
        min-width: 130px;
        width: 130px;
        margin-right: 8px;
    }

    .tasks {
        width: 100%;
    }

    .current-task {
        height: 90%;
        width: 90%;
    }

    .board-content {
        width: 100%
    }

    .task-initials {
        width: 25px !important;
    }

    #suggestions {
        width: 325px;
    }

    .current-task-initials {
        width: 36px !important;
    }

    .scroll-input {
        width: 275px;
    }

    .add-task-sb-board {
        border-top-left-radius: 16px !important;
        width: 400px;
        margin: 32px;
        padding: 20px;
        height: 90% !important;
        position: relative !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 480px) {
    .board-main {
        margin: 16px auto;
        width: 92vw !important;
    }

    .search-container-board {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;

    }

    .button-board {
        margin-top: 8px;
        display: none;
    }

    .input-container-board {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .task-initials {
        width: 25px !important;
    }

    .current-task-initials {
        width: 36px;
    }

    #suggestions {
        width: 85%;
    }

    .task-container {
        flex-direction: column;
        height: calc(100vh - 264px);
        overflow-y: scroll;
        margin: 10px auto;
    }

    .edit-buttons button{
        font-size: 10px;
    }

    .current-task {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 1024px) {
    .task-initials {
        width: 25px !important;
    }

    .current-task-initials {
        width: 36px;
    }

    .to-do-content {
        margin-bottom: 8px;
    }

    .container-addTask-sb-board {
        border-top-left-radius: 16px !important;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .add-task-sb-board {
        border-radius: 16px !important;
        width: 400px;
        margin: 32px;
        padding: 20px;
        height: 90% !important;
        position: relative !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay-add-task-board {
        display: flex;
        align-items: center;
    }

    .taskcontainer {
        flex-direction: column;
        height: calc(100% - 360px);
        overflow-y: scroll;
    }
}

@media(min-width: 1440px) {
    .board-main {
        max-width: 1040px !important;
    }
}