.contacts-overlay {
  border-radius: 30px 0 30px 30px;
  position: fixed;
  top: 0;
  right: -584px;
  width: 584px;
  height: 100%;
  background-color: white;
  z-index: 1000;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.contacts-overlay.active {
  animation-name: slideInRight;
}

.overlay-content {
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay-background.active {
  display: block;
}

.overlay-content-header {
  border-radius: 30px 0 0 0;
  background-color: #005dff;
  display: flex;
  flex-direction: column;
  height: 362px;
  justify-content: center;
}

.overlay-content-header button {
  display: flex;
  justify-content: end;
  color: white;
  font-size: 32px;
  width: 32px;
  height: 32px;
  align-items: center;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, border-radius 0.3s ease;
  right: 10px;
  left: auto;
}

.overlay-content-header button:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.2);
}
.overlay-content-header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.overlay-content-header img {
  width: 55px;
  height: 66px;
}
.overlay-content-header h2 {
  color: white;
  margin: 0;
}
.overlay-content-header p {
  color: white;
  margin: 0;
  font-size: 27px;
}
.overlay-content-add-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 362px);
  overflow-y: auto;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  background-color: transparent;
}

#addContactForm {
  width: 422px;
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
  /* margin-bottom: 32px; */
}

.input-wrapper input {
  display: block;
  width: calc(100% - 42px);
  padding: 12px 21px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 20px;
  transition: all 0.3s ease;
}
.input-wrapper input:hover,
.input-wrapper input:focus {
  outline: none;
  border-bottom-color: #005dff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-wrapper input:focus {
  outline: none;
  border-bottom-color: #005dff;
}

.input-wrapper img {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  /* margin-top: 32px; */
}

form {
  display: flex;
  gap: 35px;
}

.cancel-btn,
.create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 10px;
  border-radius: 10px;
  font-size: 23px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancel-btn {
  background-color: transparent;
  color: #647188;
  border: 1px solid #647188;
  transition: all 0.3s ease;
}

.cancel-btn:hover {
  border-color: #4589ff;
  color: #4589ff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.create-btn {
  background-color: #4589ff;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

.create-btn:hover {
  background-color: #005dff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cancel-btn::after,
.create-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.cancel-btn::after {
  background-image: url("../assets/icons/iconoir_cancel.svg");
}

.create-btn::after {
  background-image: url("../assets/icons/check.svg");
  height: 17px;
}

.input-wrapper {
  position: relative;
  /* margin-bottom: 32px; */
}

.input-wrapper input.error {
  border-bottom-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  left: 0;
  display: none;
}

.error-message.visible {
  display: block;
}

#editContactInitials {
  width: 120px;
  height: 120px;
  font-size: 47px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #ff7a00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.delete-btn,
.save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 10px;
  border-radius: 10px;
  font-size: 23px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-btn {
  background-color: white;
  color: #2a3647;
  border: 1px solid #2a3647;
  width: 128px;
}

.save-btn {
  background-color: #4589ff;
  color: white;
  border: none;
  width: 143px;
}

.delete-btn:hover,
.save-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-btn:hover {
  border-color: #005dff;
  color: #005dff;
}

.save-btn:hover {
  background-color: #005dff;
}

.save-btn::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/check.svg");
}

.delete-btn::after {
  content: none;
}

#editContactForm {
  width: 422px;
  display: flex;
  flex-direction: column;
}

#editContactForm .input-wrapper {
  position: relative;
  /* margin-bottom: 32px; */
  width: 100%;
}

#editContactForm .input-wrapper input {
  display: block;
  width: calc(100% - 42px);
  padding: 12px 21px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 20px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

#editContactForm .input-wrapper input:hover,
#editContactForm .input-wrapper input:focus {
  z-index: 5;
  outline: none;
  border-bottom-color: #005dff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#editContactForm .input-wrapper img {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

#editContactForm .button-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  /* margin-top: 32px; */
}

#editContactForm .button-wrapper button {
  flex: none;
  max-width: none;
}

#edit-contact-overlay {
  left: -584px;
  border-radius: 0 30px 30px 30px;
}

#edit-contact-overlay.active {
  left: 0;
}

#contacts-content .overlay-content-header {
  border-radius: 0 30px 0 0;
}
.mobile-headline {
  display: none;
}
#edit-contact-overlay .overlay-content-header {
  border-radius: 0 30px 0 0;
}
