#contacts-content {
  display: flex;
}
#contacts-content .contacts-container {
  width: 456px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  position: relative;
}
#contacts-content .sticky-button-wrapper {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}
#contacts-content button {
  width: 357px;
  height: 56px;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 23px;
  margin: 32px 24px 16px 24px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  background-color: #4285f4;
}
#contacts-content button:hover {
  background-color: #005dff;
  transform: scale(1.03);
}
#contacts-content #contacts-list {
  width: 352px;
}
#contacts-content .contact-group {
  padding: 17px 36px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
}
#contacts-content .contact-group h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}
#contacts-content .contact-line {
  background-color: #d1d1d1;
  margin: 8px 0;
}
#contacts-content .contact-item {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  border-radius: 10px;
  animation: slideInFromLeft 0.3s ease-out forwards;
  opacity: 0;
}
#contacts-content .contact-item:hover {
  background-color: #d2e3ff;
  transform: scale(1.03);
}
#contacts-content .contact-item.fade-out {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
#contacts-content .avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #4285f4;
  color: white;
  border: solid 2px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 24px;
}
#contacts-content .contact-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#contacts-content .contact-details .name {
  font-size: 19px;
}
#contacts-content .contact-details .email {
  font-size: 16px;
  color: #4589ff;
}
#contacts-content .contact-info {
  margin: 68px 0 0 62px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  left: 671px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  position: fixed;
}
#contacts-content .contact-info.active {
  transform: translateX(0);
  opacity: 1;
}
#contacts-content .contact-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contacts-content .contact-header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
#contacts-content .shortname {
  font-size: 47px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  flex-shrink: 0;
}
#contacts-content .header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contacts-content .full-name {
  font-size: 47px;
  margin: 0;
}
#contacts-content .header-right .action-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}
#contacts-content .action {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
#contacts-content .action p {
  font-size: 16px;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;
  transform-origin: left center;
}
#contacts-content .action img {
  height: 24px;
  width: 24px;
}
#contacts-content .headline {
  font-size: 23px;
}
#contacts-content .contact-details {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
#contacts-content .detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#contacts-content .detail p {
  margin: 0;
}
#contacts-content .action p {
  transition: color 0.3s ease, transform 0.3s ease;
}
#contacts-content .action img {
  transition: fill 0.3s ease;
}
#contacts-content .action:hover p {
  color: #005dff;
  transform: scale(1.2);
}
#contacts-content .action:hover img path {
  fill: #005dff;
}
#contacts-content .edit-delete-button {
  display: none;
}
#contacts-content .contact-item .contact-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#contacts-content .contact-info .contact-details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 100%;
}
#contacts-content .contact-item .contact-details .email {
  font-size: 16px;
  color: #4589ff;
}
#contacts-content .contact-info .contact-details .email {
  color: inherit;
}
#contacts-content .contact-info .contact-details .email b {
  color: inherit;
}
#contacts-content .sticky-button-wrapper button p {
  font-size: 23px;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.contacts-overlay.inactive {
  animation-name: slideOutRight;
}
.edit-delete-overlay {
  display: none;
}
@keyframes slideInRight {
  from {
    right: -584px;
  }
  to {
    right: 0;
  }
}
@keyframes slideOutRight {
  from {
    right: 0;
  }
  to {
    right: -584px;
  }
}
#contacts-content .contact-item.slide-out {
  animation: slideOutToLeft 0.3s ease-out forwards;
}
#contacts-content .contact-item:nth-child(1) {
  animation-delay: 0.05s;
}
#contacts-content .contact-item:nth-child(2) {
  animation-delay: 0.1s;
}
#contacts-content .contact-item:nth-child(3) {
  animation-delay: 0.15s;
}
#contacts-content .contact-item:nth-child(4) {
  animation-delay: 0.2s;
}
#contacts-content .contact-item:nth-child(5) {
  animation-delay: 0.25s;
}
#contacts-content .contact-item:nth-child(6) {
  animation-delay: 0.3s;
}
#contacts-content .contact-item:nth-child(7) {
  animation-delay: 0.35s;
}
#contacts-content .contact-item:nth-child(8) {
  animation-delay: 0.4s;
}
#contacts-content .contact-item:nth-child(9) {
  animation-delay: 0.45s;
}
#contacts-content .contact-item:nth-child(10) {
  animation-delay: 0.5s;
}
#contacts-content .contact-item:nth-child(11) {
  animation-delay: 0.55s;
}
#contacts-content .contact-item:nth-child(12) {
  animation-delay: 0.6s;
}
#contacts-content .contact-item:nth-child(13) {
  animation-delay: 0.65s;
}
#contacts-content .contact-item:nth-child(14) {
  animation-delay: 0.7s;
}
#contacts-content .contact-item:nth-child(15) {
  animation-delay: 0.75s;
}
#contacts-content .contact-item:nth-child(16) {
  animation-delay: 0.8s;
}
#contacts-content .contact-item:nth-child(17) {
  animation-delay: 0.85s;
}
#contacts-content .contact-item:nth-child(18) {
  animation-delay: 0.9s;
}
#contacts-content .contact-item:nth-child(19) {
  animation-delay: 0.95s;
}
#contacts-content .contact-item:nth-child(20) {
  animation-delay: 1s;
}
.contact-item.active {
  background-color: #4589ff;
  color: white;
}
.contact-item.active .contact-details p,
.contact-item.active .contact-details .email {
  color: white !important;
}
