#header header {
  background-color: #4589ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 999;
  
}

#header header .logo {
  width: 32px;
  padding: 16px;
  margin-left: 16px;
}

#header header .profile {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  margin-right: 16px;
}

#header header .profile p {
  color: white;
}

#header header #none {
  display: flex;
  align-items: center;
  gap: 16px;
}

#header header .profile .help-icon {
  cursor: pointer; /* Ändert den Mauszeiger zu einem Pointer */
  transition: transform 0.2s ease; /* Sanfte Animation für den Hover-Effekt */
  cursor: pointer;
}

#header header .profile .help-icon:hover {
  transform: scale(1.1); /* Vergrößert das Icon leicht beim Hover */
}

#header header .profile h4 {
  color: #4589ff; /* Blauer Buchstabe "G" */
  background-color: white; /* Weißer Kreis */
  border: 2px solid #4589ff; /* Blauer Rand um den weißen Kreis */
  border-radius: 50%; /* Kreisform */
  width: 32px; /* Breite des Kreises */
  height: 32px; /* Höhe des Kreises */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; /* Fettschrift */
  box-shadow: 0 0 0 3px white; /* Weißer Rand um den blauen Rand */
  margin: 16px 0;
}
