body {
    margin: 0;
    font-family: 'PT Sans', sans-serif; 
}
.main-container {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
}
.blue-text {
    color: #4589ff;
}
.darkblue-text {
    color: #005dff;
}
