body {
  overflow-x: hidden;
}
#summary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  padding: 0 20px;
}
.greeting {
  grid-column: span 4;
  width: auto;
  height: 77px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#myGreet {
  width: 338px;
  height: 58px;
  font-weight: 400;
  font-size: 48px;
  color: #2a3647;
  line-height: 57.6px;
}
.summary-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 25px;
  width: 100%;
  max-width: 1000px;
  margin: 0 20px;
  padding: 0 20px;
}
#username {
  color: #4589ff;

}
.sec-Part {
  grid-column: span 3;
  background-color: #4589ff;
  border-radius: 30px;
  padding: 28px 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  transition: all 225ms ease-in-out;
}
.sec-Part:hover {
  background-color: white;
  transform: scale(1.1);
  box-shadow: 0px 0px 4px 0px #00000029;
  border-radius: 0px 30px 30px 30px;
}
.sec-Part:hover h6 {
  color: #4589ff;
}
.sec-Part:hover .vertical-Line {
  background-color: #4589ff;
  border-left: 2px solid #4589ff;
}
.sec-Part:hover .deadline {
  color: #4589ff;
}
.sec-Part .urgent-tasks {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.sec-Part .urgent-tasks .urgent-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}
.inner-urgentTasks {
  display: flex;
  align-items: center;
  gap: 18px;
}
.sec-Part:hover h1 {
  color: #4589ff !important;
}
.urgent-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  background-image: url(../assets/icons/summary/time.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
.vertical-Line {
  height: 90%;
  width: 2px;
  background-color: white;
  margin-left: 60px;
}
.date {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  gap: 13px;
}
.date h3 {
  margin: 0;
}
.deadline {
  color: white;
  font-size: 21px;
  font-weight: 700;
}
.deadline-text h6 {
  color: white;
  margin: 0;
}
#tasks-length h1 {
  color: white;
  font-size: 47px;
  font-weight: 600;
  margin: 0;
}
.urgent-text {
  margin-top: 5px;
}
.urgent-text h6 {
  color: white;
  margin: 0;
}
.task-box {
  grid-column: span 1;
  background: white;
  border-radius: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 4px 0px #00000029;
  transition: all 225ms ease-in-out;
  aspect-ratio: 1;
  /* width: 100%; */
  height: auto;
  box-sizing: border-box;
}
.task-box:hover {
  transform: scale(1.1);
  background-color: #0038ff;
  color: white;
  border-radius: 0px 30px 30px 30px;
}
.task-box:hover h6,
.task-box:hover span {
  color: white;
}
.task-box:hover h1 {
  color: white;
}
.task-text,
.tasks-To-Do-Text,
.tasks-In-Progress-Text,
.Tasks-Awaiting-Feedback-Text,
.Tasks-Done-Text {
  text-align: center;
  padding-bottom: 10px;
}
.tasks-To-Do:hover h1 {
  color: #4589ff;
}

.tasks-To-Do:hover span {
  color: #4589ff;
}

.tasks-To-Do:hover {
  background-color: white;
}
.task-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-bottom: 0;
  flex: 1;
}
.task-inner h1 {
  font-size: 47px;
  margin: 0;
}
.board {
  @extend .task-box;
}
.tasks-To-Do {
  @extend .task-box;
  background: #d2e3ff;
}
.tasks-In-Progress {
  @extend .task-box;
}
.tasks-Awaiting-Feedback {
  @extend .task-box;
}
.tasks-Done {
  @extend .task-box;
}
.inner-board,
.inner-tasks-To-Do,
.inner-Tasks-Awaiting-Feedback,
.inner-tasks-In-Progress,
.inner-Tasks-Done {
  @extend .task-inner;
}
h6 {
  font-size: 23px;
  line-height: 27.6px;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 64px;
  margin: 0;
  color: #000;
}
span {
  color: #2a3647;
  font-size: 23px;
  color: #4589ff;
}
@media (max-width: 1024px) {
  #summary-content {
    height: calc(100vh - 100px - 76px);
  }
  .overlay-content a.help {
    display: block;
  }
  .overlay-content a {
    color: #4589ff;
  }
  .profile p {
    display: none;
  }
  #header header .profile #none a[href="../pages/help.html"] {
    display: none;
  }
  .overlay-content {
    border-top-right-radius: 0px;
    top: 80px;
    right: 40px;
  }
}
.d-none {
  display: none;
}
.sec-Part h1,
.sec-Part h6,
.sec-Part .deadline,
.sec-Part .vertical-Line {
  transition: color 225ms ease-in-out, background-color 225ms ease-in-out;
}
.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
.board-icon {
  background-image: url(../assets/icons/summary/board.svg);
}

.todo-icon {
  background-image: url(../assets/icons/summary/to-do.svg);
}

.progress-icon {
  background-image: url(../assets/icons/summary/progress.svg);
}

.feedback-icon {
  background-image: url(../assets/icons/summary/feedback.svg);
}

.done-icon {
  background-image: url(../assets/icons/summary/done.svg);
}
.box-link {
  text-decoration: none;
  color: inherit;
  display: contents;
}
.display-none {
  display: none !important;
}

@keyframes toggleVisibility {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
