@media (max-width: 1024px) {
  #summary-content {
    height: calc(100vh - 100px - 76px);
    padding: 0;
  }

  .overlay-content a.help {
    display: block;
  }

  .overlay-content a {
    color: #4589ff;
  }

  .profile p {
    display: none;
  }

  #header header .profile #none a[href="../pages/help.html"] {
    display: none;
  }

  .overlay-content {
    border-top-right-radius: 0px;
    top: 80px;
    right: 40px;
  }
}

@media (max-width: 768px) {
  .task-box {
  }

  .task-box h1,
  .sec-Part h1,
  .sec-Part .urgent-tasks .urgent-container .inner-urgentTasks #tasks-length h1,
  h3 {
    margin: 5px 0;
    font-size: 30px;
  }

  .sec-Part .date .deadline h3 {
    font-size: 25px;
  }

  .tasks-In-Progress-Text,
  .task-text,
  .Tasks-Awaiting-Feedback-Text,
  .Tasks-Done-Text,
  .tasks-To-Do-Text {
    padding-bottom: 0;
  }

  .task-box span,
  .sec-Part span,
  h6 {
    font-size: 17px;
  }

  .urgent-img,
  .board-icon,
  .todo-icon,
  .progress-icon,
  .feedback-icon,
  .done-icon {
    width: 45px;
    height: 45px;
    background-size: cover;
    background-color: #4589ff;
  }

  .vertical-Line {
    margin-left: 20px;
  }

  .date {
    padding-left: 20px;
  }

  .inner-urgentTasks,
  .task-inner {
    gap: 10px;
    flex: 0;
  }

  .date,
  .urgent-container {
    gap: 10px;
  }

  .greeting {
    animation: toggleVisibility 0.5s ease-in-out 3s forwards;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px - 76px);
    background: white;
    z-index: 1000;
    text-align: center;
  }

  .sec-Part {
    padding: 20px;
    grid-template-columns: 1fr;
    width: 382px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  .summary-grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;

  }

  .sec-Part {
    grid-column: 1 / -1;
    width: 100%;
    margin-bottom: 15px;
  }

  .tasks-To-Do {
    grid-column: 1 / -1;
    width: 100%;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .tasks-In-Progress,
  .tasks-Awaiting-Feedback,
  .Tasks-Done,
  .board {
    grid-column: span 1;
    width: 100%;
  }

  .task-box {
    aspect-ratio: auto;
    gap: 10px;
    padding: 20px;
  }

  .sec-Part {
    order: 1;
  }

  .tasks-To-Do {
    order: 2;
  }

  .board {
    order: 4;
  }

  .tasks-In-Progress {
    order: 3;
  }

  .tasks-Awaiting-Feedback {
    order: 5;
  }

  .tasks-Done {
    order: 6;
  }
}
