*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

}
header{
    background-color: #4589FF;
    position:fixed ;
    top: 0;
    left: 0;
    width: 100%;
   height: 96px;
   padding: 20px  39px 20px 39px;
    box-shadow: 0px 0px 0px 1px lightgray ;
}
#join{
    width: 45.93px;
    height: 56px;
   
}

#help{
   
 float: right;
    margin-right: 100px;
    margin-top: -40px;
    transition: transform 0.2s ease;
}
header span{
    color: white;
    font-weight: 300;
    size: 19px;
    float: right;
    margin-right: 150px;
    margin-top: -35px;
  }
#user{
    width: 46.12px;
    float: right;
    margin-top: -50px;
    margin-right: 25px;
    background-color: white;
    border-radius: 50%;
cursor: pointer;
}
nav{
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 96.5px;
    height: 100%;
    width: 186px;
    box-shadow: 0px 0px 0px 1px lightgray ;
}
.nav-head{
    position: relative;
    display: grid;
    width: 186px;
    height: 205px;
    gap: 15px;
    top: 25px;
}
.nav-head ul li{
    text-decoration: none;
}

.nav-head ul li:hover{
    background-color: #D2E3FF;
    width: 171px;
    height: 44px;
    border-radius: 8px;
    margin-left: 7px;

}
.nav-foot{
    display: flex;

    width: 150px;
    height: 108px;
    margin-top: 350px;
    align-self: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nav-foot a{
    text-decoration: none;
    font-weight: lighter;
    font-size: 15px;
    color: gray;
}
#userCircle {
    top: 0;
    width: 44.12px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: #4589FF; /* Sicherstellen, dass der Text sichtbar ist */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Ausreichende Größe für den Text */
    text-align: center;
    overflow: hidden; /* Falls der Text abgeschnitten wird */
    margin-top: -50px;
    margin-right: 25px;
    float: right;
    box-shadow: #4589FF;
}
.urgent{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: white;
    align-items: center;

}
.urgent img{
    width: 76px;
    height: 76px;

}

 p{
    top: 150px;
    position: absolute;
    margin-left: -200px;
    color: white;
    size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    cursor: pointer;
}
p a:hover{
    scale: 1.1;
    color: #4589FF;
}
.inner-tasks:hover{
    scale: 1.1;
    color: #4589FF;
}
p a{
    text-decoration: none;
    color: white;
}
.task-board{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: white;
    align-items: center;

}
.task-board img{
    width: 76px;
    height: 76px;
}
.tasks-second-Par{

    display: block;
}
.tasks-second-Par :hover{
    color:  #0038FF;
    scale: 1.1;
    border-radius: 0px 30px 30px 30px;
}
.task-text{
    padding: 20px;
    text-align: center;
    color: #4589FF;
    font-weight: 400;
    size: 23px;
    line-height: 27.6px;


}
.task-text :hover{
    color: white;

}
a{
    text-decoration: none;
    color: #4589FF;
    font-weight: 400;
    size: 23px;
    line-height: 27.6px;
}